body{
    margin: 0;
}


#main{
    background-color: #999999;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}
.titre_home{
    text-align: center;
    background-color: #999999;
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    flex-direction: row;

}
div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    flex-wrap: wrap;
    flex-direction: row;

}
#menu li{
    margin: 40px;
    font-size: large;

}

main{
    display: flex;
    justify-content: center;
    text-align: center;

    flex-wrap: wrap;
    background-color: #c5c9df;
}
#livre {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
    align-items: center;

}
#contenu{
    padding: 20px;
    width: calc(100% - 40px);

    align-items: center;


}
section{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    border: thick double #32a1ce;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px;
    animation: pulse 1s linear 0s infinite normal;

}
section:hover{

    animation: jello 1s linear 0s ;

}
.titre{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 10px 10px;

}
img{
    cursor: pointer;
    width: 200px;
    height: 200px;
}

#page_livre{
    text-align: center;
    display: flex;
    flex-direction:column;

}
p{
    font-weight: bolder;

}
header, footer{
    background-color: #dfdfdf;
}


.search_result{
    text-align: center;

}

@keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}